* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.todo-item {
  display: flex;
  border: 2px solid rgba(128, 128, 128, 0.2);
  border-radius: 6px;
  margin-left: 24px;
  margin-right: 24px;
  align-items: center;
  padding-left: 15px;
  padding-right: 13px;
  margin-bottom: 10px;
  background: rgba(117, 117, 117, 0.4);
}
.todo-check {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.check-info {
  margin-top: 10px;
  color: black;
  font-size: 25px;
}

.action {
  display: flex;
  margin-top: 10px;
  gap: 10px;
  align-items: center;
  margin-bottom: 11px;
}

.button {
  width: 70px;
  display: flex;
  height: 35px;
  padding: none;
  font-size: 14px;
}

.edit {
  padding-left: 20px;
  background: rgba(5, 186, 5, 0.8);
  color: white;
}

.delete {
  padding-left: 13px;
  background: rgba(255, 0, 0, 0.8);
  color: white;
}

button {
  border: 2px solid #a0a0a066;
  width: 70px;
  display: flex;
  height: 35px;
  padding: 6px;
  font-size: 14px;
  border-radius: 45%;
  cursor: pointer;
}
